Web References/Read/ZPP001_91.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d\d:\d\d:\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZBAPIRET2">
        <xsd:sequence>
          <xsd:element name="ZTYPE" type="tns:char1" />
          <xsd:element name="ZID" type="tns:char20" />
          <xsd:element name="ZNUMBER" type="tns:numeric3" />
          <xsd:element name="ZMESSAGE" type="tns:char220" />
          <xsd:element name="ZLOG_NO" type="tns:char20" />
          <xsd:element name="ZLOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="ZMESSAGE_V1" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V2" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V3" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V4" type="tns:char50" />
          <xsd:element name="ZPARAMETER" type="tns:char32" />
          <xsd:element name="ZROW" type="xsd:int" />
          <xsd:element name="ZFIELD" type="tns:char30" />
          <xsd:element name="ZSYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEPP001">
        <xsd:sequence>
          <xsd:element name="ZORDER_NUMBER" type="tns:char12" />
          <xsd:element name="ZPRODUCTION_PLANT" type="tns:char4" />
          <xsd:element name="ZWORK_CENTER" type="tns:char8" />
          <xsd:element name="ZMATERIAL" type="tns:char18" />
          <xsd:element name="ZTARGET_QUANTITY" type="tns:quantum13.3" />
          <xsd:element name="ZUNIT" type="tns:unit3" />
          <xsd:element name="ZSTART_DATE" type="tns:date" />
          <xsd:element name="ZFINISH_DATE" type="tns:date" />
          <xsd:element name="ZORIGIN" type="tns:char4" />
          <xsd:element name="ZSTATUS" type="tns:char4" />
          <xsd:element name="ZACTUAL_START_DATE" type="tns:date" />
          <xsd:element name="ZACTUAL_START_TIME" type="tns:time" />
          <xsd:element name="ZACTUAL_FINISH_DATE" type="tns:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_PP001">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZNUMBER" type="tns:char12" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_PP001Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZORDER_DATA" type="tns:ZEPP001" />
            <xsd:element name="ZRETURN" type="tns:ZBAPIRET2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_PP001">
    <wsdl:part name="parameters" element="tns:Z_PP001" />
  </wsdl:message>
  <wsdl:message name="Z_PP001Response">
    <wsdl:part name="parameters" element="tns:Z_PP001Response" />
  </wsdl:message>
  <wsdl:portType name="ZPP001_91">
    <wsdl:operation name="Z_PP001">
      <wsdl:input message="tns:Z_PP001" />
      <wsdl:output message="tns:Z_PP001Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZPP001_91SoapBinding" type="tns:ZPP001_91">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_PP001">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZPP001_91Service">
    <wsdl:port name="ZPP001_91SoapBinding" binding="tns:ZPP001_91SoapBinding">
      <soap:address location="http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZPP001_91?sap-client=300" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>