Web References/Graba_Pedido/ZSDMX_POST_SCALE_DATA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSDMXS001">
        <xsd:sequence>
          <xsd:element name="ZDOCUMENT_TYPE" type="tns:char1" />
          <xsd:element name="ZDOCUMENT_NUMBER" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBAPIRET2">
        <xsd:sequence>
          <xsd:element name="ZTYPE" type="tns:char1" />
          <xsd:element name="ZID" type="tns:char20" />
          <xsd:element name="ZNUMBER" type="tns:numeric3" />
          <xsd:element name="ZMESSAGE" type="tns:char220" />
          <xsd:element name="ZLOG_NO" type="tns:char20" />
          <xsd:element name="ZLOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="ZMESSAGE_V1" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V2" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V3" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V4" type="tns:char50" />
          <xsd:element name="ZPARAMETER" type="tns:char32" />
          <xsd:element name="ZROW" type="xsd:int" />
          <xsd:element name="ZFIELD" type="tns:char30" />
          <xsd:element name="ZSYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_SDMX_POST_SCALE_DATA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZDOCUMENT_TO_SEARCH" type="tns:ZSDMXS001" />
            <xsd:element name="ZINPUT" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_SDMX_POST_SCALE_DATAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZOUTPUT" type="xsd:string" />
            <xsd:element name="ZRETURN" type="tns:ZBAPIRET2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_SDMX_POST_SCALE_DATA">
    <wsdl:part name="parameters" element="tns:Z_SDMX_POST_SCALE_DATA" />
  </wsdl:message>
  <wsdl:message name="Z_SDMX_POST_SCALE_DATAResponse">
    <wsdl:part name="parameters" element="tns:Z_SDMX_POST_SCALE_DATAResponse" />
  </wsdl:message>
  <wsdl:portType name="ZSDMX_POST_SCALE_DATA">
    <wsdl:operation name="Z_SDMX_POST_SCALE_DATA">
      <wsdl:input message="tns:Z_SDMX_POST_SCALE_DATA" />
      <wsdl:output message="tns:Z_SDMX_POST_SCALE_DATAResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZSDMX_POST_SCALE_DATASoapBinding" type="tns:ZSDMX_POST_SCALE_DATA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_SDMX_POST_SCALE_DATA">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZSDMX_POST_SCALE_DATAService">
    <wsdl:port name="ZSDMX_POST_SCALE_DATASoapBinding" binding="tns:ZSDMX_POST_SCALE_DATASoapBinding">
      <soap:address location="http://mexcid010000.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZSDMX_POST_SCALE_DATA?sap-client=300" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>