Web References/Prd_Gen/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZGLMX_ATLAS_GR">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://www.w3.org/2004/08/soap/features/http-optimization" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZGLMX_ATLAS_GR">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_Z_GLMX_ATLAS_GR">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZBAPIRET2">
        <xsd:sequence>
          <xsd:element name="ZTYPE" type="tns:char1" />
          <xsd:element name="ZID" type="tns:char20" />
          <xsd:element name="ZNUMBER" type="tns:numeric3" />
          <xsd:element name="ZMESSAGE" type="tns:char220" />
          <xsd:element name="ZLOG_NO" type="tns:char20" />
          <xsd:element name="ZLOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="ZMESSAGE_V1" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V2" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V3" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V4" type="tns:char50" />
          <xsd:element name="ZPARAMETER" type="tns:char32" />
          <xsd:element name="ZROW" type="xsd:int" />
          <xsd:element name="ZFIELD" type="tns:char30" />
          <xsd:element name="ZSYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBCGLTT001">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_GLMX_ATLAS_GR">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="I_DETAIL" type="tns:ZBCGLTT001" />
            <xsd:element name="I_HEADER" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_GLMX_ATLAS_GRResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="E_DETAIL" type="tns:ZBCGLTT001" />
            <xsd:element name="E_RETURN" type="tns:ZBAPIRET2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_GLMX_ATLAS_GR">
    <wsdl:part name="parameters" element="tns:Z_GLMX_ATLAS_GR" />
  </wsdl:message>
  <wsdl:message name="Z_GLMX_ATLAS_GRResponse">
    <wsdl:part name="parameters" element="tns:Z_GLMX_ATLAS_GRResponse" />
  </wsdl:message>
  <wsdl:portType name="ZGLMX_ATLAS_GR">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZGLMX_ATLAS_GR" />
    </wsp:Policy>
    <wsdl:operation name="Z_GLMX_ATLAS_GR">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_Z_GLMX_ATLAS_GR" />
      </wsp:Policy>
      <wsdl:input message="tns:Z_GLMX_ATLAS_GR" />
      <wsdl:output message="tns:Z_GLMX_ATLAS_GRResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZGLMX_ATLAS_GR" type="tns:ZGLMX_ATLAS_GR">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZGLMX_ATLAS_GR" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_GLMX_ATLAS_GR">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZGLMX_ATLAS_GR">
    <wsdl:port name="ZGLMX_ATLAS_GR" binding="tns:ZGLMX_ATLAS_GR">
      <soap:address location="http://mxslx171.mexichem.corp:8006/sap/bc/srt/rfc/sap/zglmx_atlas_gr/300/zglmx_atlas_gr/zglmx_atlas_gr" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>