Web References/Leer_Pedido/ZSDMX_READ_SCALE_DOCUMENTS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSDMXS001">
        <xsd:sequence>
          <xsd:element name="ZDOCUMENT_TYPE" type="tns:char1" />
          <xsd:element name="ZDOCUMENT_NUMBER" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSDMXS002">
        <xsd:sequence>
          <xsd:element name="ZDOCUMENT_NUMBER" type="tns:char10" />
          <xsd:element name="Z_TO_FROM" type="tns:char10" />
          <xsd:element name="ZESTATUS" type="tns:char1" />
          <xsd:element name="ZFECHA_DOC" type="tns:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMMMXS001">
        <xsd:sequence>
          <xsd:element name="ZEBELP" type="tns:numeric5" />
          <xsd:element name="ZMATNR" type="tns:char18" />
          <xsd:element name="ZTXZ01" type="tns:char40" />
          <xsd:element name="ZMENGE" type="tns:quantum13.3" />
          <xsd:element name="ZMEINS" type="tns:unit3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZBAPIRET2">
        <xsd:sequence>
          <xsd:element name="ZTYPE" type="tns:char1" />
          <xsd:element name="ZID" type="tns:char20" />
          <xsd:element name="ZNUMBER" type="tns:numeric3" />
          <xsd:element name="ZMESSAGE" type="tns:char220" />
          <xsd:element name="ZLOG_NO" type="tns:char20" />
          <xsd:element name="ZLOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="ZMESSAGE_V1" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V2" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V3" type="tns:char50" />
          <xsd:element name="ZMESSAGE_V4" type="tns:char50" />
          <xsd:element name="ZPARAMETER" type="tns:char32" />
          <xsd:element name="ZROW" type="xsd:int" />
          <xsd:element name="ZFIELD" type="tns:char30" />
          <xsd:element name="ZSYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSDMXS003">
        <xsd:sequence>
          <xsd:element name="ZPOSNR" type="tns:numeric6" />
          <xsd:element name="ZMATNR" type="tns:char18" />
          <xsd:element name="ZARKTX" type="tns:char40" />
          <xsd:element name="ZKWMENG" type="tns:quantum15.3" />
          <xsd:element name="ZVRKME" type="tns:unit3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMMMXTT001">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZMMMXS001" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSDMXTT001">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZSDMXS003" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_SDMX_READ_SCALE_DOCUMENTS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZDOCUMENT_TO_SEARCH" type="tns:ZSDMXS001" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_SDMX_READ_SCALE_DOCUMENTSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZDATA_RETURNED" type="tns:ZSDMXS002" />
            <xsd:element name="ZEKPO" type="tns:ZMMMXTT001" />
            <xsd:element name="ZRETURN" type="tns:ZBAPIRET2" />
            <xsd:element name="ZVBAP" type="tns:ZSDMXTT001" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_SDMX_READ_SCALE_DOCUMENTS">
    <wsdl:part name="parameters" element="tns:Z_SDMX_READ_SCALE_DOCUMENTS" />
  </wsdl:message>
  <wsdl:message name="Z_SDMX_READ_SCALE_DOCUMENTSResponse">
    <wsdl:part name="parameters" element="tns:Z_SDMX_READ_SCALE_DOCUMENTSResponse" />
  </wsdl:message>
  <wsdl:portType name="ZSDMX_READ_SCALE_DOCUMENTS">
    <wsdl:operation name="Z_SDMX_READ_SCALE_DOCUMENTS">
      <wsdl:input message="tns:Z_SDMX_READ_SCALE_DOCUMENTS" />
      <wsdl:output message="tns:Z_SDMX_READ_SCALE_DOCUMENTSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZSDMX_READ_SCALE_DOCUMENTSSoapBinding" type="tns:ZSDMX_READ_SCALE_DOCUMENTS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_SDMX_READ_SCALE_DOCUMENTS">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZSDMX_READ_SCALE_DOCUMENTSService">
    <wsdl:port name="ZSDMX_READ_SCALE_DOCUMENTSSoapBinding" binding="tns:ZSDMX_READ_SCALE_DOCUMENTSSoapBinding">
      <soap:address location="http://smxslr3q.mexichem.corp:8000/sap/bc/srt/rfc/sap/ZSDMX_READ_SCALE_DOCUMENTS?sap-client=300" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>